section 

  section
    h3  Две основные задачи<br>видео-продакшена
    +h3  Подготовка шаблонов
    +h3  Эффективный рендер видео

  section
    h3 3 поколения рендер-ферм

  section 
    h3 Blender
    img(src="/img/blender-farm.png")

  //
    section 
      h3 Blender
      ul
        +lp Гибкость
        +lp Производительность
        +lp Качество картинки
        +lmm Подготовка шаблонов

  section 
    h3 After Effects
    img(src="/img/ae-farm.png")

  // 
    section 
      h3 Adobe AE
      ul
        +lpp Качество картинки
        +lp Подготовка шаблонов
        +lg Производительность
        +lmm Гибкость
    
     section(data-background-video="img/video-hive.mp4" data-background-opacity="1.0") 


  section 
    h3 JS / DOM
    img(src="/img/web-farm.png")
  
  //
    section
      h3 Web-view
      ul
        +lpp Производительность
        +lp Гибкость
        +lg Качество картинки
        +lm Подготовка шаблонов
    
    section(data-background-video="/img/supa.mp4" data-background-opacity="1.0") 


  section 
    h3 Lottie
    img(src="/img/lottie-farm.png")

  //
    section
      h3 Lottie
      ul
        +lpp Производительность
        +lp Подготовка шаблонов
        +lp Гибкость
        +lg Качество картинки