section
  h2 #{title}
  h4: small #{subtitle}
  a(href="http://"+main_url) #{main_url}


// section(data-background-image="/img/tune.jpg" data-background-size='contain')
section()
  h2 Коротко
  ul
    +li У нас были десятки проектов с генерацией контента
    +li Самая ресурсоемкая задача - создание персонофицированного видео
    +li My научились делать это качественно и быстро

section
  h2 План
  ul
    +li Челендж 
    +li Бэкграунд
    +li Проблематика
    +li Технологии
    +li Масштабирование

section
  h2 Челендж
  ul
    +li Пользователь ищет что-то в онлайн магазине
    +li Открывает социальную сеть и видит персональную видео рекламу с теми продуктами, что он только что искал

section
  h2 Нам Требуется
  ul
    +li Генерировать качественный видео-контент
    +li Делать это очень быстро и недорого
    +li В промышленных объёмах

