section
  h1 #{title}
  h4 #{subtitle}
  a(href="https://"+main_url) #{main_url}
  +note.
    Не забыть сказать про мотивацию

section
  h2 Основные направления
  ul
    +li Генеративный контент
    +li Данные & аналитика
    +li Машинное обучение


section
  h2 Коротко
  ul
    +li Мы делали много интерактивных проектов со сложной визуализацией
    +li У нас хорошая экспертиза в области графики и звука
    +li При необходимости можем реализовывать аппаратные решения / инсталляции.
    +li Мы умеем работать с большими данными, масштабироваться
    +li Последние несколько лет погружаемся в машинное обучение
