section 

  section
    h1 графика & звук
    +note.
      Речь не о контенте а о технологииях

  section
    h3 Коротко
    ul
      +li Мы можем делать с графикой и звуком практически всё
      +li Эффективно обрабатывать
      +li Xранить
      +li Доставлять
      +li Автоматически генерировать

  section 
    h3 Генеративный рекламный контент
    ul
      +li Иструменты для создания видео рекламы
      +li Масштабируемые рендер-фермы для генерации рекламных видео роликов
      +li Автоматизация генерации шаблонов after-effects, blender
      +li Бэкенд движки для визуализации

  section
    h3 Генеративный пользовательский контент
    ul
      +li Видео-открытки
      +li Стилизация пользовательского контента
      +li Визиуализация открытой информации

  section 
    h3 Генеративный видео-стриминг
    ul
      +li Броадкаст интерактивного видео потока
      +li Добавление в стрим визуализации пользовательской активности 
      +li Свои сервера, youtube, twitch, facebook, instagram, vk, ok

  section
    h3 Интерактивная визуализация
    ul
      +li Использование возможностей современных видеокарт для интерактивной визуализации плотного графического контента
      +li Онлайн / WebGL (интерактив на сайтах)
      +li Офлайн / OpenGL (инсталляции)
      +li Мобильные устройства / GLES, Unity, Unreal

  section
    h3 GIS
    ul
      +li ВТБ / Индекс счастья населения
      +li Michelin / Качества дорог
      +li Abbott / Статистика по регионам
      +li Касперский / Карта кибер угроз
      +li Мегафон / Визуализация социальной активности

  section
    h3 Звук
    ul
      +li Белочка / Wow call центр
      +li Famous Grouse / генерация хора


    