section
  h2 Прочее
  ul
    +li Чат боты
    +li Инсталяции Winston, Siemens, Movenpick, Renault
    +li Гаджеты Purina, Magne
    +li Игры, призовые розыгрыши
    +li CNC, 3D печать, рисующие роботы
    +li Чтение мыслей

section
  h2 Стэк
  ul
    +li Amazon Web Services
    +li Google Cloud Platform
    +li tensorflow, pytorch, scikit, pandas
    +li C/C++, js, python
