section

  section 
    h2 Данные & Машинное обучение


  section
    h3 Данные
    ul
      +li Находим способы их доставать
      +li Умеем эффектинво хранить и обрабатывать


  section
    h2 Машинное обучение


  section
    h3 Обработка естественного языка
    ul
      +li Обработка текста, комментариев 
      +li Классификация, категоризация, тегирование комментариев 
      +li Анализ эмоциональной окраски
      +li Кластеризация, поиск инсайтов

  section
    h3 Обработка живой речи
    ul
      +li Работа с STT сервисами
      +li Создание легких моделей для детекции заданных ключевых фраз
      +li Поиск дефектов речи у детей
      +li Распознавание эмоции по голосу

  section
    h3 классификация фото/видео контента
    ul
      +li Извлечение паттернов из видео рекламы
      +li Классификация пород кошек
      +li Семнатическая сегментация автомобилей 
      +li Выделение альфаканала у продукта

  section
    h3 Фейс-трекинг, эмоции
    ul
      +li Трекинг взгляда, внимания
      +li Современный трекинг лиц
      +li Извлечение геометрических метрик
      +li Определение эмоций
      +li Face id
 
  section
    h3 Моделирование и оптимизация продвижения
    ul
     +li Использование алгоритмов оптимизации применительно к SMM продвижению
     +li Применение машинного обучения для прогнозирование эффективности креативов.

  section
    h3 Генеративные сети, GAN
    ul
      +li Автоматическое создание нового контента на базе датасетов
      +li Генерация стилей одежды на базе продуктового фида

