section(
  data-background-image="img/IoT.jpg"
  data-background-opacity="0.5")

  section
    h1 Internet of Things
    +arr

  +sec_ab
    h2 Интернет вещей
    blockquote.
      Способы взаимодействия устройств и систем между собой и с окружающим миром
      при помощи различных технологий связи  
  +sec_ab
    h2 Интернет вещей
    blockquote.
      Порождение маркетологов, когда чайник "подключают" к интернету, а ценник поднимают в 3 раза
  +sec_ab
    h2 Интернет вещей
    blockquote.
      Был придуман сотовыми операторами, когда у них кончились люди, они решили подключать вещи

  +sec_b
    h2 WiFi чайник
    img(src="img/teapot.jpg")

  +sec_b
    h2 WiFi лампочка
    img(src="img/wifi_lamp.jpg")
      
  +sec_b
    h2 WiFi интерференция
    img(src="img/wifi.png")
  
  +sec_ab
    h2 Consumer IoT
    ul
      +li Умный дом
      +li Бытовая техника
      +li Носимая электроника

  +sec_ab
    h2 Consumer IoT
    ul
      +li Часто бесмысленен
      +li Усложняет использование
      +li Снижает надежность
      +li Повышает радио-энтропию
      
  section(data-state="blur-bg")
    h2 Технологии связи
    h3 Wi-Fi, Bluetooth, LTE, 3G
    h3 ZigBee, Li-Fi, Z-wave
            
  section(data-background-image="img/IIOT.jpg")
    h1 Industrial IoT
    h4 настоящий интернет вещей
      
  section(data-background-image="img/IIOT.jpg" data-state="blur-bg")
    h2 Industrial IoT
    ul
      +li Умный город
      +li Промышленность
      +li Сельское хозяйство
      +li Логистика

  section(data-background-image="img/IIOT.jpg" data-state="blur-bg")
    h2 Технологии связи
    h3 LTE, 3G, NFC, RFID
    h3 LPWAN - LoRa, SigFox, ...
  
