section(
  data-background-image="img/IIOT.jpg"
  data-background-opacity="0.5")
  section
    h1 LPWAN
    +arr

  section(data-state="blur-bg")
    h2 LPWAN
    h4 Low-Power Wide-Area Network
    blockquote.
      энергоэффиктивные технологии передачи телеметрии и сигналов управления на большие расстояния

  +sec_b
    h2 Что не так с 5G/4G/3G?
    ul
      +li Цена устройств и БС
      +li Недостаточное число подключений/БС
      +li Низкая энергоэффективность
      +li Монополия ОпСоС'ов на услугу/частоты
        
  section(data-state="blur-bg")
    h2 Характеристики LPWAN систем
    ul
      +li Самодостаточнoсть, независимость от сотовой связи и интернета
      +li Очень низкое энергопотребление
      +li Работа на больших расстояниях, сравнимых с сотовыми сетями
      +li Десятки тысяч подключений на одной БС
        
  section(data-state="blur-bg")
    h2 Технологии
    uK
      li SigFox
      li LoRa
      li Weightless-P
      li Ingenu
      li NB-IoT

  section(data-state="blur-bg")
    h2 Скорость / Дальность
    img(src="img/LPWAN.png")

  +sec_b
    h2 Области применения

  +sec_ab
    h3 Жилищно-коммунальное хозяйство
    h4 удалённый сбор показаний приборов учёта: воды, тепла, газа, электричества

  +sec_ab
    h3 Сельское хозяйство
    h4 контроль влажности и температуры почв, наблюдение за освещённостью и уровнем солнечной радиации, наблюдение за состоянием складов и овощехранилищ

  +sec_ab
    h3 Безопасность и охранные системы
    h4 резервирование каналов связи, контроль проникновения, контроль затопления помещений, контроль пожарной безопасности

  +sec_ab
    h3 Системы городского управления
    h4 управление освещением, наблюдение за автомобильными потоками, контроль занятости парковочных мест, контроль температуры, шума, влажности, освещённости, загрязнения воздуха и тому подобного

  +sec_ab
    h3 Экологический мониторинг
    h4 контроль качества воздуха и воды, контроль уровня воды в реках и озёрах, наблюдение за пожарной опасностью в лесах

  +sec_ab
    h3 Строительство
    h4 контроль оборудования, наблюдение за параметрами конструкций и зданий

  +sec_ab
    h3 Медицинна
    h4 носимые устройства, удаленный мониториг состояния здоровья
        
  +sec_ab
    h3 Производство и системы снабжения
    h4 контроль параметров оборудования, наблюдение за состоянием грузов
