section(
  data-background-image="img/smart_city.jpg"
  data-background-opacity="0.5")
    
  section
    h1 Smart city
    +arr

  section(data-state="blur-bg")
    h3 Города реализующие концепцию
    h4 Amsterdam, Barcelona, Columbus, Ohio, Copenhagen, Dubai, Dublin, Kyiv, London, Madrid, Malta, Manchester, Milan, Milton Keynes, Moscow, New Songdo City, New York, San Leandro, Santa Cruz, Santander, Shanghai, Singapore, Stockholm, Taipei
  
  +sec_ab
    h3 Для многих направлений развития требуется
    ul
      +li Получения данных в реальном времени
      +li Сбор данных с больших площадей, множества удаленных точек
      +li Эффективные и дешевые каналы передачи данных

  +sec_ab
    h2 Управление ресурсами
    h3 Энерго и водоснабжение
  +sec_ab
    h2 Безопасность и медицина
    h3 Системы экстренного реагирования
  +sec_ab
    h2 Мобильность
    h3 Повышениее эффективности транспортной сети, управление трафиком
  +sec_ab
    h2 Экология
    h3 Контроль уровня загрязнения и шума, управлени отходами 
  section
    h2 Kейсы
  section(data-background-iframe="https://ict.moscow/projects/smart-cities/?map=world")

