section

  section
    h2 Что дальше?
  
  section
    h3 Планы
    ul
      +li Изучение ограничений формата, проработка экспорта, поддержка видео-ассетов
      +li Разработка онлайн инструментов для редактирования шаблонов 
      +li Серверный GPU рендер, инструменты транскодинга

  section
    h3 Machine Learning
    ul
      +li Генерация синтетических датасетов
      +li Авто-анимация статичных креативов
      +li Авто-генерация креативов по фото товара/текст

  section
    h3 Вопросы?

  section
    h3 Команда
    ul
      li Павел Голик - backend python / django
      li Павел Холод - frontend / Angular
      li Дмитрий Лунин - ML / python / js
      li Сергей Евдокимов - Дизайн 
      li Владимир Серегин - R&D

section
  h4= email
  h4: a(href="https://aitech-lab.github.io") https://aitech-lab.github.io
  h4: a(href="https://aidata.me/videofeed") https://aidata.me/videofeed
  
