section

  section
    h2 Итоги

  section
    h3 Итоги
    ul
      +li Итог 1 
      +li Итог 2 
      +li Итог 3

  section
    h3 Команда
    ul
      +li Павел Голик - backend python / django
      +li Павел Холод - frontend / Angular
      +li Дмитрий Лунин - ML / python / js
      +li Сергей Евдокимов - Дизайн 
      +li Владимир Серегин - R&D

  section
    h3 Вопросы?

section
  h4= email
  a(href="https://"+main_url) #{main_url}
