section
  h1 #{title}
  h4 #{subtitle}
  p: a(href="https://"+main_url) #{main_url}
  p 

    a(href="/ml") ml
    |&nbsp;|&nbsp;
    a(href="/nlp") nlp
    |&nbsp;|&nbsp;
    a(href="/gc") gc
    
  +note.
    Не забыть сказать про мотивацию


section
  blockquote.
    Любая достаточно развитая технология неотличима от магии.
  small 3`й закон Кларка


section
  h2 Основные направления
  ul
    +li Генеративный контент
    +li Данные & аналитика
    +li Машинное обучение


section
  h2 Коротко
  ul
    +li Мы делали много интерактивных проектов со сложной визуализацией
    +li У нас хорошая экспертиза в области графики и звука
    +li При необходимости можем реализовывать аппаратные решения / инсталляции.
    +li Мы умеем работать с большими данными, масштабироваться
    +li Последние несколько лет погружаемся в машинное обучение
