// section(data-background-video="img/lab.mp4" data-background-video-loop data-background-size='contain')
section
  h4 #{subtitle}
  h1 #{title}

section
  h3 Технологии рекламного видео-продакшена
  ul
    +li Использование GPU в производстве видео
    +li Рекламные live стримы
    +li Рекламный video-feed для стримеров


