section

  section
    h2 Дальнейше развитие
    ul
      +li Изучение ограничений формата, проработка экспорта, поддержка видео-ассетов
      +li Разработка онлайн инструментов для редактирования шаблонов 
      +li Серверный GPU рендер, инструменты транскодинга
