section

  section
    h2 video-feed
  
  section 
    h3 Сервис преобразования продуктового фидa<br>в видео-поток
  
  section
    h3 video-feed
    img(src="img/video-feed_1.png")

  section
    h3 Обратная связь с площадкой
    img(src="img/video-feed_2.png")

  section
    h3 Преимущества живого рекламного стрима
    ul
      +li Вовлечение аудитории за счет интерактивности
      +li Реакция на действия аудитории, события площадки
      +li Возможность персонификации

  