section 

  section
    h2 Контент
    +arr
    +note.
      Речь не о контенте а о технологииях


  section
    h3 Графика, видео & звук
    ul
      +li Умеем эффективно обрабатывать
      +li Недорого хранить большие объёмы
      +li Автоматически генерировать
      +li Быстро доставлять пользователям


  section 
    h3 Рекламный контент
    ul
      +li Разработали иструменты для создания видео рекламы
      +li Собственные рендер-фермы для генерации видео роликов
      +li Используем шаблононизацию after-effects, blender
      +li Собственные бэкенд движки для визуализации cef, cairo, skia


  section
    h3 Пользовательский контент
    ul
      +li Видео-открытки
      +li Стилизация пользовательского контента
      +li Визиуализация открытой информации


  section 
    h3 Видео-стриминг
    ul
      +li Броадкаст интерактивного видео потока
      +li Добавление в стрим визуализации пользовательской активности 
      +li Свои сервера, youtube, twitch, facebook, instagram, vk, ok


  section
    h3 Интерактивная визуализация
    ul
      +li Использование возможностей современных видеокарт для интерактивной визуализации плотного графического контента
      +li Онлайн / WebGL (интерактив на сайтах)
      +li Офлайн / OpenGL (инсталляции)
      +li Мобильные устройства / GLES, Unity, Unreal


  section
    h3 GIS
    ul
      +li ВТБ / Индекс счастья населения
      +li Michelin / Качества дорог
      +li Abbott / Статистика по регионам
      +li Касперский / Карта кибер угроз
      +li Мегафон / Визуализация социальной активности


  section
    h3 Звук
    ul
      +li Белочка / Wow call центр
      +li Famous Grouse / генерация хора

