section

  section
    h2 Что дальше?
  
  section 
    ul
      +li Нагрузочное тестирование
      +li Изучение ограничений формата, проработка экспорта, поддержка видео-ассетов
      +li Разработка онлайн инструментов для редактирования шаблонов 
      +li Серверный GPU рендер, инструменты транскодинга

  section
    h3 Machine Learning
    ul
      +li Генерация синтетических датасетов
      +li Авто-анимация статичных креативов
      +li Авто-генерация креативов по фото товара/текст
