section

  section 
    h2 Lottie
  
  section
    h5(style="margin:auto; width:50%;")
      tgs-player(autoplay loop mode="normal" src="img/5.tgs")

  section
    h3 AE / Lottie
    img(src="img/ae-lottie.png")

  section
    h3 Lottie / MP4
    img(src="img/lottie-mp4.png")

  section
    h3 Преимущества Lottie
    ul
      +lp Открытый анимационный json формат
      +lp Прямой экспорт анимаии из Adobe AE
      +lp Поддерживается Google и Samsung
      +lp Наличие плееров с поддержкои GPU
      +lg Занял нишу векторной web-анимации
  
  section 
    h3 Применение
    ul
      +li Эффективный рендер видео рекламы 
      +li Рекламные стримы "магазин на диване" 
      +li Рекламные интеграции для стримеров
      +li Интеграции для онлайн кинотеатров 
  


