section

  section
    h2 Кроме этого
    
  section
    h3 Мы делали
    ul
      +li Интерактивные инсталяции Winston, Siemens, Movenpick, Renault
      +li Гаджеты для Purina, Magne
      +li Компьютерные игры с дополненной реальностью и VR
      +li Рисующих роботов
      +li Чат ботов

  section
    h2 Стэк
    ul
      +li Amazon Web Services
      +li Google Cloud Platform
      +li tensorflow, pytorch, scikit, pandas
      +li C/C++, js, python
