section

  section
    h2 video-feed для стримеров
    
  section
    h3 video-feed в OBS
    img(src="img/video-feed_3.png")

  section(data-background-video="img/stream-demo.mp4" data-background-size="contain" data-background-opacity="1.0") 

  section
    h3 О стриминге
    ul
      +li Суммарно в 2020 twitch собрал 1.2 млрд часов просмотров
      +li С началом пандемии, многие рекламодатели и бренды ушли в индустрию стриминга
      +li Из стран СНГ ежемесячно в эфир выходит боле 100 тысяч стримеров
      +li Более 60% стримеров монетизирует свой эфир, большинство через специальные сервисы
      +li Рынок рекламы на стримах довольно молод, качественные инструменты отсутсвуют

  section
    h3 Демонстрация инструмента

  section
    h3 Варианты интерактива
    ul
      +li Промокод за длительный просмотр контента
      +li Скидки за переходы / регистрации
      +li Голосование за скидку на категорию товаров