section
  section
    h2 Источники

  section
    ul
      li: a(href="https://paperswithcode.com/sota/") Papers with code
      li: a(href="https://www.youtube.com/c/K%C3%A1rolyZsolnai/videos") Two minute papers
      li: a(href="https://towardsdatascience.com/") Towards data science
      li: a(href="https://www.youtube.com/user/NVIDIADeveloper") Nvidia
      li: a(href="https://www.youtube.com/channel/UC5qxlwEKM7-5YZudb24l0bg") Facebook
      li: a(href="https://ai.google/research/") Google
      li: a(href="https://gizmodo.com/tag/neural-networks") gizmodo
      li: a(href="https://www.extremetech.com/?s=neural+networks") extremetech
      li: a(href="http://aiweekly.co/") aiweekly
      li: a(href="https://medium.com/search?q=%20neural%20network") medium