section
  h4 #{subtitle}
  h2 #{title}

section
  h3 paperswithcode.com

section
  h3 Основные направления
  ul
    +li Computer Vision (1000+)
    +li Natural Language Processing (470+)
    +li Medical (220+)
    +li Speech / Audio / Music (100+)
    +li 500+ тем из других областей
