section

  section
    h3 CV проекты
    ul
      +li Сегментация креативов
      +li Выделение объекта переднего плана
      +li Повышение качества фотографий
      +li Фейс-трекинг, классификация эмоций
      +li Классификация пользовательских фотографий
      +li Сегментация автомобилей
      +li Поиск похожих товаров
      +li Генерация новых дизайнов
      +li Дополненная реальность
  
  section(data-background-image="img/detectron2.png")
  section(data-background-image="img/basnet_01.png" data-background-size="contain")
  section(data-background-video="img/face_tracking.mp4")
  section(data-background-video="img/gaze.mp4" data-background-size="contain")
  section(data-background-image="img/dogs.jpg" data-background-size="contain")

  section
    h3 NLP проекты
    ul
      +li Классификация пользовательски сообщений 
      +li Генерация описания продукта по фотографии
      +li Диалоговые сервисы на базе dialogflow
      +li Детекция настроение человека по голосу
      +li Поиск ключевых фраз в диалоге

  section
    h3 Прочее
    ul
      +li Генеративный джаз
      +li Трекинг взглядов для оценки привлекательность наружной рекламы
      +li Предсказание CTR креатива по изображению, дать рекомендации по улучшению
      +li Прогноз беременности по поведению в соц-сетях / профильных группах

  section
    ul
      +li Выделение структуры и содержания рекламных роликов, получивших премии
      +li Распознавание вина по этикетке / рекомендательный сервис
      +li Кластеризация большого объёма покупок сети
      +li Подсчет калорий блюда по фотографии

  section(data-background-video="img/farma.mp4" data-background-size="contain" )