section

  section
    h3 Основные проблемы ML-продакшена 

  section 
    ul 
      +li Результат никогда не бывает 100% качества, у каждого sota решения есть плато
      +li Повышение качества на несколько процентов требует серьёзных затрат
      +li Больше всего ресурсов, >80%,  уходит на подготовку датасетов
      +li Серьёзные модели требуют значительных вычислительных мощностей
      +li В области NLP с русским языком проблемы из-за нехватки датасетов