section
  section
    h3 Кейсы

  section
    h3: a(href="https://www.nvidia.com/en-us/research/ai-playground/") Nvidia GANs
    ul
      li 
        a(href="https://youtube.com/watch?v=0zaGYLPj4Kk") Nvidia StyleGan2
        |, 
        a(href="https://youtube.com/watch?v=9QuDh3W3lOY") 2
      li
        a(href="https://www.youtube.com/watch?v=mlZYRwJ2oJg") GauGAN
        |, 
        a(href="https://www.youtube.com/watch?v=MPdj8KGZHa0") 2
      li: a(href="https://www.youtube.com/watch?v=NqmMnjJ6GEg") Video streaming

  section
    ul 
      li
        a(href="https://www.youtube.com/watch?v=mUfJOQKdtAk") Still image animation
        |, 
        a(href="https://www.youtube.com/watch?v=thQ7QjqNPlY") 2
      li: a(href="https://www.youtube.com/watch?v=22Sojtv4gbg") Domain change
      li: a(href="https://www.youtube.com/watch?v=SEsYo9L5lOo") Portrait relighting
      li 
        a(href="https://www.youtube.com/watch?v=MrIbQ0pIFOg") 3D photography
        |, 
        a(href="https://wandb.ai/authors/3D-Inpainting/reports/3D-Image-Inpainting--VmlldzoxNzIwNTY") 2
        |, 
        a(href="https://www.youtube.com/watch?v=UrB-tqA8oeg") 3
        |, 
        a(href="https://www.youtube.com/watch?v=QSVrKK_uHoU") 4
        |, 
        a(href="https://www.youtube.com/watch?v=4CYI6dt1ZNY") 5
      li: a(href="https://www.youtube.com/watch?v=G00A1Fyr5ZQ") Time interpolation
      li: a(href="https://www.youtube.com/watch?v=BpApq2EPDXE") Pattern animation 
  section
    ul
      li: a(href="https://www.youtube.com/watch?v=9RzCZZBjlxM") Portrait toonification
      li: a(href="https://www.youtube.com/watch?v=v5pOsQEOsyA") Video stabilization
      li
        a(href="https://www.youtube.com/watch?v=2pWK0arWAmU") Object removing
        |, 
        a(href="https://www.youtube.com/watch?v=86QU7_SF16Q") 2
      li: a(href="https://www.youtube.com/watch?v=l_C3KFeI_l0") Sky replacement
      li: a(href="https://www.youtube.com/watch?v=lLa9DUiJICk") Translation lip-resync
      li: a(href="https://www.youtube.com/watch?v=UiEaWkf3r9A") Style transfer
      li: a(href="https://www.youtube.com/watch?v=qeZMKgKJLX4") Shadow removal