section

  section
    h2 Проекты

  section: blockquote Распознать настроение человека по голосу
  section: blockquote Научить нейронную сеть сочинять джаз
  section: blockquote Оценить привлекательность наружной рекламы, измерить число и продолжительность взглядов прохожих
  section: blockquote Предсказать CTR креатива по изображению, дать рекомендации по улучшению
  section: blockquote Сделать копию Сири, но про куриные окорочка
  section: blockquote Спрогнозировать беременность по поведению в соц-сетях
  section: blockquote Найти среди 4Tb фотографий те, на которых есть котик заданной породы
  section: blockquote Поиск и распознавание лобовых стекол авто
  section: blockquote Реализовать управление интерактивной инсталляцией через мимику посетителя
  section: blockquote Автоматически убрать фон у фотографий
  section: blockquote Выделить структуру и содержание рекламных роликов, получивших премии
  section: blockquote Распознавание вина по этикетке
  section: blockquote Запоминать лица всех посетителей сети магазинов и приветствовать их при повторном визите
  section: blockquote Автономный счетчик произнесенных ругательств работающий без интернета
  section: blockquote "Этого платья не существует" - генерация новых образов на базе каталога продукции
  section: blockquote Быстро найти все внешне похожие товары, шазам для фоток
  section: blockquote Классификация коротких сообщений, определение эмоциональной окраски отзывов
  section: blockquote Кластеризация большого объёма покупок сети
